In [1]:
#8.3 DataFrame
#DataFrame은 Series를 여러 개 묶은 2차원 데이터 구조. 
#DataFrame은 pd.DataFrame() 에 Series를 전달하여 생성가능  ex)pd.DataFrame([Series, Series, ...])

In [3]:
#8-25
import pandas as pd
data = {"fruits" : ["apple", "orange", "banana", "st", "kiwi"],
        "years" : [2001, 2002, 2003, 2004, 2005],
        "time" : [1, 4, 5, 6, 3]}
    
df = pd.DataFrame(data)
print(df)
'''
 fruits  years  time
0   apple   2001     1
1  orange   2002     4
2  banana   2003     5
3      st   2004     6
4    kiwi   2005     3
'''

   fruits  years  time
0   apple   2001     1
1  orange   2002     4
2  banana   2003     5
3      st   2004     6
4    kiwi   2005     3

In [5]:
#Series 와 비교를 위한 예시
import pandas as pd
data = {"fruits" : ["apple", "orange", "banana", "st", "kiwi"],
        "years" : [2001, 2002, 2003, 2004, 2005],
        "time" : [1, 4, 5, 6, 3]}
    
df = pd.Series(data)
print(df)

fruits    [apple, orange, banana, st, kiwi]
years        [2001, 2002, 2003, 2004, 2005]
time                        [1, 4, 5, 6, 3]
dtype: object

In [7]:
#8-26. series1, series2 대입
import pandas as pd

index = ["apple", "orange", "banana", "st", "kiwi"]
data1 = [10, 5, 87, 12, 3]
data2 = [30, 25, 12, 10, 8]
series1 = pd.Series(data1, index=index)
series2 = pd.Series(data2, index=index)

print("series1 : ", series1)
print("series2 : ", series2)
print("\n")

df = pd.DataFrame([series1, series2])
print(df)

series1 :  apple     10
orange     5
banana    87
st        12
kiwi       3
dtype: int64
series2 :  apple     30
orange    25
banana    12
st        10
kiwi       8
dtype: int64


   apple  orange  banana  st  kiwi
0     10       5      87  12     3
1     30      25      12  10     8

In [12]:
#8.3.2 인덱스와 컬럼 설정
#DataFrame은 0부터 오름차순으로 인덱스가 할당된다. 이를 바꾸르면, df.index = ["name1", "name2", ..] 로 설정해야

#8-28
import pandas as pd

index = ["apple", "orange", "banana", "st", "kiwi"]
data1 = [10, 5, 87, 12, 3]
data2 = [30, 25, 12, 10, 8]
series1 = pd.Series(data1, index=index)
series2 = pd.Series(data2, index=index)

#print("series1 : ", series1)
#print("series2 : ", series2)
#print("\n")

df = pd.DataFrame([series1, series2])

#df의 인덱스가 1부터 시작하도록 설정
df.index = [1, 2]
print(df)

'''
   apple  orange  banana  st  kiwi
1     10       5      87  12     3
2     30      25      12  10     8'''

   apple  orange  banana  st  kiwi
1     10       5      87  12     3
2     30      25      12  10     8

'\n   apple  orange  banana  st  kiwi\n1     10       5      87  12     3\n2     30      25      12  10     8'

In [18]:
#8.3.3 행추가
#append 사용
#8-30
import pandas as pd
data = {"fruits" : ["apple", "orange", "banana", "st", "kiwi"],
        "time" : [1, 4, 5, 6, 3]}
    
df = pd.DataFrame(data)
print(df)
'''
   fruits  time
0   apple     1
1  orange     4
2  banana     5
3      st     6
4    kiwi     3''' #에서 행을 추가하고자 하는 경우

series = pd.Series(["mango", 2008, 7], index=["fruits", "years", "time"])

df = df.append(series, ignore_index=True)
print(df)

   fruits  time
0   apple     1
1  orange     4
2  banana     5
3      st     6
4    kiwi     3
   fruits  time   years
0   apple     1     NaN
1  orange     4     NaN
2  banana     5     NaN
3      st     6     NaN
4    kiwi     3     NaN
5   mango     7  2008.0

In [21]:
#8-31
import pandas as pd

index = ["apple", "orange", "banana", "st", "kiwi"]
data1 = [10, 5, 87, 12, 3]
data2 = [30, 25, 12, 10, 8]
data3 = [30, 12, 10, 8, 25, 3]
series1 = pd.Series(data1, index=index)
series2 = pd.Series(data2, index=index)

#df에series3을 추가하고 df에 다시 대입

index.append("pineapple")
series3 = pd.Series(data3, index=index)
df = pd.DataFrame([series1, series2])

print(df)
'''   apple  orange  banana  st  kiwi
0     10       5      87  12     3
1     30      25      12  10     8
'''
df = df.append(series3, ignore_index=True)

print(df)

   apple  orange  banana  st  kiwi
0     10       5      87  12     3
1     30      25      12  10     8
   apple  orange  banana  st  kiwi  pineapple
0     10       5      87  12     3        NaN
1     30      25      12  10     8        NaN
2     30      12      10   8    25        3.0

In [24]:
#8.3.4 열추가
#df["새로운 컬럼"] 방식

import pandas as pd
data = {"fruits" : ["apple", "orange", "banana", "st", "kiwi"],
        "years" : [2001, 2002, 2003, 2004, 2005],
        "time" : [1, 4, 5, 6, 3]}
    
df = pd.DataFrame(data)

#컬럼(열 추가)
df["price"] = [150, 120, 100, 300, 150]
print(df)

   fruits  years  time  price
0   apple   2001     1    150
1  orange   2002     4    120
2  banana   2003     5    100
3      st   2004     6    300
4    kiwi   2005     3    150

In [39]:
#8-34 열추가
#df["새로운 컬럼"] 방식

import pandas as pd

index = ["apple", "orange", "banana", "st", "kiwi"]
data1 = [10, 5, 87, 12, 3]
data2 = [30, 25, 12, 10, 8]
series1 = pd.Series(data1, index=index)
series2 = pd.Series(data2, index=index)

#df에series3을 추가하고 df에 다시 대입
new_column = pd.Series([15, 7], index=[1,2])

df = pd.DataFrame([series1, series2], index=[1,2])

print(df)

#mango 컬럼 추가
df["mango"] = new_column

print(df)

   apple  orange  banana  st  kiwi
1     10       5      87  12     3
2     30      25      12  10     8
   apple  orange  banana  st  kiwi  mango
1     10       5      87  12     3     15
2     30      25      12  10     8      7