In [1]:
#리턴? 함수를 실행했던 위치로 돌아가라는 뜻, 함수가 끝나는 위치도 의미

def return_test():
    print("a의 위치")
    return 
    print("B의 위치")

return_test()  # =>a의 위치

a의 위치

In [2]:
#리턴 뒤에 자료를 입력하면 자료를 가지고 리턴한다.
def return_test():
    return 100

value = return_test()
print(value)

100

In [11]:
def sum_all(start, end):
    output = 0
    for i in range(start, end + 1):
        output = output + i     #output =+ i
    return output

print("0 에서 5 : ", sum_all(0, 5))  #1 2 3 4 5
print("0 에서 100 : ", sum_all(0,100))
print("0 에서 1000 : ", sum_all(0,1000))
print("50 에서 100 : ", sum_all(50,100))

0 에서 5 :  15
0 에서 100 :  5050
0 에서 1000 :  500500
50 에서 100 :  3825