In [2]:
import pymysql

db = pymysql.connect(host='127.0.0.1', port=3306, user='root', passwd='123123', db='ecommerce', charset='utf8')

cursor = db.cursor()

for index in range(10):
    product_code = 215673140 + index + 1
    sql = """INSERT INTO product VALUES(
    '""" + str(product_code) + """', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F'); """
    print (sql)
    cursor.execute(sql)

db.commit()
db.close()

INSERT INTO product VALUES(
    '215673141', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F');

IntegrityError: (1062, "Duplicate entry '215673141' for key 'product.PRIMARY'")

In [14]:
#파이썬에서 확인하고 싶을때
sql = "SELECT * FROM product"
cursor.execute(sql)
result = cursor.fetchmany(size=3)  #상위 3개만 가져오기

for record in result:
    print(record)

('215673141', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')
('215673142', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')
('215673143', '스위트바니 여름신상5900원~롱원피스티셔츠/긴팔/반팔', 23000, 6900, 70, 'F')