In [2]:
#생성된 디비에 연결하고 테이블 생성하고, 거기에 삽입해보기

import pymysql

In [3]:
db = None
try:
    # DB 호스트 정보에 맞게 입력해주세요
    db = pymysql.connect(
        host='127.0.0.1',
        port=3306,
        user='root',
        passwd='123123',
        db='chatbotchapter7',
        charset='utf8'
    )
    print("DB 연결 성공")
        
    # 테이블 생성 sql 정의
    sql = '''
    CREATE TABLE tb_student (
        id int primary key auto_increment not null,
        name varchar(32),
        age int,
        address varchar(32)
    ) ENGINE=InnoDB DEFAULT CHARSET=utf8
    '''

    # 테이블 생성
    with db.cursor() as cursor:
        cursor.execute(sql)
    print("테이블 생성 성공")
    

except Exception as e:
    print(e)

finally:
    if db is not None:
        db.close()
    print("디비 닫기 성공")

DB 연결 성공
(1050, "Table 'tb_student' already exists")
디비 닫기 성공

In [4]:
#저기에 데이터 삽입
db = None
try:
    # DB 호스트 정보에 맞게 입력해주세요
    db = pymysql.connect(
        host='127.0.0.1',
        port=3306,
        user='root',
        passwd='123123',
        db='chatbotchapter7',
        charset='utf8'
    )

    # 데이터 삽입 sql 정의
    sql = '''
    INSERT tb_student(name, age, address) values('Kei', 35, 'Korea')
    '''

    # 데이터 삽입
    with db.cursor() as cursor:
        cursor.execute(sql)
    db.commit()
    print("데이터 삽입 성공")

except Exception as e:
    print(e)

finally:
    if db is not None:
        db.close()
    print("디비 닫기 성공")

데이터 삽입 성공
디비 닫기 성공